__pycache__/

*database.db

frontend/.DS_Store
frontend/node_modules
frontend/dist

frontend/.env.local
frontend/.env.*.local

frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/pnpm-debug.log*

*.idea
frontend/.vscode
frontend/*.suo
frontend/*.ntvs*
frontend/*.njsproj
frontend/*.sln
frontend/*.sw?
